#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loading-data-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 4rem;  
  box-shadow: 0px 5px 7px 10px #3b49df;
  animation: text-color 4s ease-in-out infinite;
}
.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  animation: rotate var(--duration) var(--timing) infinite;
}
/* .spinner-red {
  border-top-color: #5260FF;
  --duration: 1.5s;
  --timing: ease-in-out;
} */
.spinner-blue {
  border-left-color: #3b49df;
  --duration: 2s;
  --timing: ease-in-out;
}
.spinner-yellow {
  border-right-color: #2D37A8;
  --duration: 2s;
  --timing: ease-in-out;
}

@keyframes rotate {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes text-color {
  0%, 100% {
      color: rgba(59, 73, 223, 1);
  }
  25%, 75% {
      color: rgba(59, 73, 223, 0.5);
  }
  50% {
      color: rgba(59, 73, 223, 1);
  }
}
